/TensorflowTutorial
/guitar_drum_train.py
/notes.pkl
/MusicModel4/notes.pkl
/MusicAiModel/Midi_files/werden_nicht_richtig_verarbeitet
/MusicAiModel/Midi_files/Trance
/MusicAiModel/Midi_files/rock
/MusicAiModel/Midi_files/R&B
/MusicAiModel/Midi_files/Pop
/MusicAiModel/Midi_files/Hardstyle
/MusicAiModel/Midi_files/Eurodance
/MusicAiModel/Midi_files/Disco
/MusicAiModel/Midi_files/Dance-pop
/MusicAiModel/Midi_files/_drum
/AISongs
